<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu - Project Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
<div class="d-grid gap-2 d-md-flex justify-content-md-center m-3">Projekt aplikacji biblioteki: Tomasz Sieduszewski, Marcin Murat</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <div type="button" class="btn btn-primary me-md-2 btn-lg"><a href="/books/listofbooks" class="text-decoration-none text-light">Lista książek</a></div>
    <div type="button" class="btn btn-primary btn-lg"><a href="/users/showAllUsers" class="text-decoration-none text-light">Lista czytelników</a></div>
</div>



</body>
</html>